@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  touch-action: none;
  user-select: none;
}

html {
  background-color: black;
  color: white;
}

button,
a {
  cursor: pointer;
}

@theme {
  --spacing-safe-bottom: var(--safe-inset-bottom, 0px);
  --color-of-orange: #fcab40;
  --color-of-yellow: #f0f757;
  --color-of-red: #d62828;
  --font-fortune: var(--font-fortune), serif;
}
